[Unit]
Description=Web Remote Service
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=exec
WorkingDirectory=/usr/share/WebRemoteService
ExecStart=/usr/share/WebRemoteService/WebRemoteService
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"
Environment="PULSE_SERVER=unix:/run/user/%U/pulse/native"
Environment="DISPLAY=:0"
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target