*/bin
*/obj
.vs
/Windows.LocalWebRemote.AppPackager/Windows.LocalWebRemote.AppPackager.wapproj
/WIndows.LocalWebRemote.StorePackage
/Windows.LocalWebRemote.AppPackager
/Windows.LocalWebRemote/Properties/PublishProfiles/FolderProfile.pubxml.user
/WebRemote/WebRemoteApplication.cs
/WapProjTemplate1
